<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Dashboard</title>
        <meta charset="UTF-8">
        <link href="/css/dashboard-my-workouts.css" rel="stylesheet">
    </head>



    <body>
        <!-- <div id="athlete-id" style="display:none"><%= user.athlete_id %></div>
        <div id="athlete-object" style="display:none"><%= JSON.stringify(user) %></div> -->

        <!-- ADD NEW EXERCISE FORM -->
        <!-- Form to Add a new exercise to the workout -->
        <% if (typeof workoutList != 'undefined' && typeof selectedWorkoutID != 'undefined') { %> 
        <div id="add-exercise-form-container">
            <form id="add-exercise-form" method="POST" action="/dashboard/my-workouts/add-new-exercise/<%= selectedWorkoutID %>">
                <label for="exercise_type">Exercise Type: (*Optional: But Can Help Narrow Search*) </label>
                <input type="text" name="exercise_type" placeholder="Strength/Cardio/Sports..."> <br>

                <label for="exercise_name">Exercise Name: </label>
                <input type="text" name="exercise_name" id="add-exercise-form-exercise-name" placeholder="Dumbell Pec flys..." required><br><br>    
            
                <button type="submit" id="add-exercise-form-button">Submit</button><br>
            </form>
        </div>
        <% } %>
        <!-- ADD NEW EXERCISE FORM -->


        <!-- ADD NEW WORKOUT FORM -->
        <div id="add-workout-form-container">
            <form id="add-workout-form" method="POST" action="/dashboard/my-workouts/add-new-workout">
                <label for="workout_name">Workout Name: </label>
                <input type="text" name="workout_name" placeholder="New Workout Name..."> <br>

                <!-- <label for="exercise_name">Exercise Name: </label>
                <input type="text" name="exercise_name" id="add-exercise-form-exercise-name" placeholder="Dumbell Pec flys..." required><br><br>    
             -->
                <button type="submit" id="add-workout-form-button">Submit</button><br>
            </form>
        </div>
        <!-- ADD NEW WORKOUT FORM -->


        <div class="grid-container">
            
            <!-- ******** Navigation Bar ******** -->
            <%- include('partials/navbar.ejs') %>
     



            <!-- ********** Main Dashboard ********** -->
            <div class="main-dash">

                <!-- Title Box -->
                <div class="main-dash-title"> 
                    <!-- My-Stats -->
                    <% if (typeof trackedExercises != 'undefined') { %> 
                        <p id="main-dash-title-text">My Stats</p>
                    <% } %>   

                    <!-- My-Workouts -->
                    <% if (typeof workoutList != 'undefined') { %> 
                        <p id="main-dash-title-text">My Workouts</p>
                    <% } %> 

                    <!-- My-Rewards -->
                    <% if (typeof earnedRewards != 'undefined') { %> 
                        <p id="main-dash-title-text">My Rewards</p>
                    <% } %> 

                    <!-- My-Team -->
                    <% if (typeof teamData != 'undefined') { %> 
                        <p id="main-dash-title-text">My Team</p>
                    <% } %> 
                </div>
                <!-- Title Box -->


                <!-- Main Section of Workouts Page (2 parts) -->
                <div class="main-dash-dynamic">
                    
                    <!-- 1) [Left Side] Weekly Overview Bar -->
                    <% if (typeof workoutList != 'undefined') { %> 
                        <div class="main-dash-dynamic-workout-list">
                            <p> List of Workouts</p>
                            <div id="all-workouts-from-workout-list">
                            <% if (workoutList.length) { %>
                                <% for(var i = 0; i < workoutList.length; i++) { %>
                                <div class="main-dash-dynamic-workout-box"> 
                                    <!-- <%= workoutList[i].workout_id %>  -->
                                    <%= workoutList[i].workout_name %>
                                </div>
                                <% } %>
                            <% } %>
                            </div>
                        </div>
                    <% } %>

                       
                    <!-- 2) [Right Side] Current Workout Selected -->
                    <div class="main-dash-dynamic-workout-stats">
                        <!-- Upper Area -->
                        <div class="main-dash-dynamic-workout-stats-upper"> 
                            <!-- Will show this if a user has a workout -->
                            <% if (typeof selectedWorkoutID != 'undefined') { %>
                                <div class="main-dash-dynamic-workout-stats-title">
                                        <p> <%= selectedWorkoutName %></p>
                                </div>
                            <!-- Else, a user has not tracked a workout yet  -->
                            <% } else {%>
                                <div class="main-dash-dynamic-workout-stats-title"> 
                                    <p> Add New Workout! </p>
                                </div>
                            <% } %>
                            <a id="add-new-workout-button">+</a>
                            <p>Add New</p>
                        </div>

                    
                        <!-- Middle Area: holds workout info -->
                        <% if (typeof selectedWorkoutExercises != 'undefined') { %>
                            <!-- http://tabulator.info/ -->
                            <table id="workout-table">
                                <tr>
                                    <th>Exercise</th>
                                    <th>Sets</th>
                                    <th>Weight</th>
                                    <th>Reps/Time</th>
                                    <th>Done</th>
                                </tr>
                                <% selectedWorkoutExercises.forEach( exercise => { %>
                                    <tr>
                                        <td><%= exercise.exercise_name %></td>
                                        <td contenteditable='true'><%= exercise.sets %></td>
                                        <td contenteditable='true'><%= exercise.weight %></td>
                                        <td contenteditable='true'><%= exercise.reps %></td>
                                        <td><input class="done" type="checkbox"></td>
                                    </tr> 
                                <% }) %>
                            </table>

                            <!-- Has stats about the workout you are currently doing -->
                            <div class="current-workout-stats">
                                    <div id="completion-bar">Completion Bar</div>
                            </div>


                            <!-- Buttons at the bottom -->
                            <div class="my-workout-buttons">
                                <!-- <a href="/dashboard/my-workouts/add-new-exercise">Add New Exercise</a> -->
                                <a id="add-new-exercise">Add New Exercise</a>
                                <a id="delete-workout">Delete Workout</a>
                                <a id="complete-session">Complete Session!</a>
                            </div>

                        <% } %>
                    </div> <!-- <div class="main-dash-dynamic-workout-stats"></div> -->
                </div> <!-- <div class="main-dash-dynamic"></div> -->
                <!-- Main Section of Workouts Page -->  




            </div> <!-- Main Dashboard -->
            <!-- ************************************ -->






            <!-- ***** Gamification Box ***** -->
            <div class="game-bar">
                
                <div class="progression-box">
                    <p id="progression-box-text">Progression</p>
                </div>

                <div class="icon-box"></div>

                <div class="level-bar"></div>

                <div class="game-bar-profile-stats"></div>

            </div>
            <!-- **************************** -->

        </div>

        
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/dynamic/my-workouts_views.js"></script>
    

</html>