<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Dashboard</title>
        <meta charset="UTF-8">
        <link href="/css/dashboard.css" rel="stylesheet">
    </head>



    <body>
        <div id="athlete-id" style="display:none"><%= user.athlete_id %></div>
        <div id="athlete-object" style="display:none"><%= JSON.stringify(user) %></div>

        <div class="grid-container">
            

            <!-- ******** Navigation Bar ******** -->
            <div class="navigation">
                
                <!-- Logo -->
                <div class="logo">
                    <img src="/images/logo.png">
                </div>

                <!-- Dashboard Options -->
                <div class="dash-menu">
                    <div class=dash-menu-tabs-box>
                        <a href="/dashboard/my-workouts" id="my-workouts">
                            <p class="dash-menu-tabs-box-text">My Workouts</p>
                        </a>
                        
                        <a href="/dashboard/my-stats" id="my-stats">
                            <p class="dash-menu-tabs-box-text">My Stats</p>
                        </a>

                        <a href="/dashboard/my-rewards" id="my-rewards">
                            <p class="dash-menu-tabs-box-text">My Rewards</p>
                        </a>

                        <a href="/dashboard/my-team" id="my-team">
                            <p class="dash-menu-tabs-box-text">My Team</p>
                        </a>
                    </div>
                </div>

                <!-- Account Info -->
                <div class="account-info">
                    <p id="account-info-name"><%= user.athlete_first_name %></p>
                    <a href="/dashboard/logout" id="account-info-manage-account">Manage Account/Logout</a>
                    <!-- <div id="manage-account-menu">
                        <a>Profile Settings</a>
                        <a href="/dashboard/logout">Logout</a>
                    </div> -->
                </div>
            </div>
            <!-- ************************** -->


     



            <!-- ********** Main Dashboard ********** -->

            <div class="main-dash">

                <!-- Title Box -->
                <div class="main-dash-title"> 
                    <!-- My-Stats -->
                    <% if (typeof trackedExercises != 'undefined') { %> 
                        <p id="main-dash-title-text">My Stats</p>
                    <% } %>   

                    <!-- My-Workouts -->
                    <% if (typeof trackedWorkouts != 'undefined') { %> 
                        <p id="main-dash-title-text">My Workouts</p>
                    <% } %> 

                    <!-- My-Rewards -->
                    <% if (typeof earnedRewards != 'undefined') { %> 
                        <p id="main-dash-title-text">My Rewards</p>
                    <% } %> 

                    <!-- My-Team -->
                    <% if (typeof teamData != 'undefined') { %> 
                        <p id="main-dash-title-text">My Team</p>
                    <% } %> 
   
                </div>


                <!-- Content that changes based on the selected tab -->
                <div class="main-dash-dynamic">
                    

                <!-- Tracked Workouts -->
                <% if (typeof trackedWorkouts != 'undefined') { %> 
                    <!-- Enter new workout stats [Left Side] -->
                    <div class="main-dash-dynamic-workout-stats">
                        <div class="workout-carousel">

                            <% if (trackedWorkouts.length) { %>
                            <div class="workout-carousel-title"><%= trackedWorkouts[0].workout_name %></div>
                            <% } %>
                            <div class="workout-carousel-content">
                                <form class="tracked-workouts">
                                    <% trackedWorkouts.forEach( workout => { %>

                                        <label> <%= workout.exercise_name %>     <%= workout.sets %> sets    <%= workout.weight %> lb    <%= workout.reps %> reps </label>
                                        <input class="my-workout-checkbox" type="checkbox" id="male" value="male"><br><br>

                                    <% }) %>
                                    </form>
                            </div>
                        </div>

                        <div class="add-new-workout">
                            
                        </div>
                    </div>

                    
                    <!-- Weekly Overview Bar [Right Side] -->
                    <div class="main-dash-dynamic-weekly-stats">


                    </div>

                    <% } %>




                    <!-- Tracked Exercises -->
                    <% if (typeof trackedExercises != 'undefined') { %> 
                    <div class="main-dash-dynamic-my-stats">
                        <ul class="tracked-exercises">
                                <% trackedExercises.forEach( exercise => { %>
                                    <li> <pre>Exercise: <%= exercise.exercise_name %>   Total Reps <%= exercise.reps %></pre></li>
                                <% }) %>
                        </ul>

                        <div class="button_cont">
                            <a class="track-new-exercise-button" href="/track-new-exercise">
                                <span>Track New
                            </a>
                        </div>                        
                    </div>    
                    <% } %>





                    <!-- Earned Rewards -->
                    <ul class="earned-rewards">
                        <% if (typeof earnedRewards != 'undefined') { %> 
                            <% earnedRewards.forEach( reward => { %>
                                <li> <pre><%= reward.company_name %>   <%= reward.reward_name %></pre></li>
                            <% }) %>
                        <% } %>
                    </ul>


                    <!-- My Team -->

                    
                </div>
            </div>
            <!-- ************************************ -->






            <!-- ***** Gamification Box ***** -->
            <div class="game-bar">
                
                <div class="progression-box">
                    <p id="progression-box-text">Progression</p>
                </div>

                <div class="icon-box"></div>

                <div class="level-bar"></div>

                <div class="game-bar-profile-stats"></div>

            </div>
            <!-- **************************** -->

        </div>

        
    </body>

    <script src="/dynamic/dashboard_views.js"></script>

</html>