<!DOCTYPE html>
<html>
    <head>
        <title> My Athlete App Dashboard</title>
        <meta charset="UTF-8">
        <link href="/css/dashboard.css" rel="stylesheet">
    </head>



    <body>
        <!-- <div id="athlete-id" style="display:none"><%= user.athlete_id %></div>
        <div id="athlete-object" style="display:none"><%= JSON.stringify(user) %></div> -->


 
        <div class="grid-container">
            

            <!-- ******** Navigation Bar ******** -->
            <div class="navigation">
                
                <!-- Logo -->
                <div class="logo">
                    <img src="/images/logo.png">
                </div>

                <!-- Dashboard Options -->
                <div class="dash-menu">
                    <a href="/dashboard/my-workouts" id="my-workouts">
                        <p class="dash-menu-text">My Workouts</p>
                    </a>
                    
                    <a href="/dashboard/my-stats" id="my-stats">
                        <p class="dash-menu-text">My Stats</p>
                    </a>

                    <a href="/dashboard/my-rewards" id="my-rewards">
                        <p class="dash-menu-text">My Rewards</p>
                    </a>

                    <a href="/dashboard/my-team" id="my-team">
                        <p class="dash-menu-text">My Team</p>
                    </a>
                </div>

                <!-- Account Info -->
                <div class="account-info">
                    <p id="account-info-name"><%= user.athlete_first_name %></p>
                    <a href="/dashboard/logout" id="account-info-manage-account">Manage Account/Logout</a>
                    <!-- <div id="manage-account-menu">
                        <a>Profile Settings</a>
                        <a href="/dashboard/logout">Logout</a>
                    </div> -->
                </div>
            </div>
            <!-- ************************** -->


     



            <!-- ********** Main Dashboard ********** -->

            <div class="main-dash">

                <!-- Title Box -->
                <div class="main-dash-title"> 
                    <!-- My-Stats -->
                    <% if (typeof trackedExercises != 'undefined') { %> 
                        <p id="main-dash-title-text">My Stats</p>
                    <% } %>   

                    <!-- My-Workouts -->
                    <% if (typeof trackedWorkouts != 'undefined') { %> 
                        <p id="main-dash-title-text">My Workouts</p>
                    <% } %> 

                    <!-- My-Rewards -->
                    <% if (typeof earnedRewards != 'undefined') { %> 
                        <p id="main-dash-title-text">My Rewards</p>
                    <% } %> 

                    <!-- My-Team -->
                    <% if (typeof teamData != 'undefined') { %> 
                        <p id="main-dash-title-text">My Team</p>
                    <% } %> 
                </div>

                <div class="main-dash-dynamic">
                
                    <!-- Tracked Workouts -->
                    <% if (typeof trackedWorkouts != 'undefined') { %> 
                        <!-- [Left Side] Workout Selection -->
                        <div class="main-dash-dynamic-workout-stats">
                            <!-- Upper Area -->
                            <div class="main-dash-dynamic-workout-stats-upper"> 
                                <% if (trackedWorkouts.length) { %>
                                    <div class="main-dash-dynamic-workout-stats-title"> 
                                        <p> <%= trackedWorkouts[0].workout_name %>  <%= trackedWorkouts[0].date_completed %></p>
                                    </div>
                                    
                                <% } else {%>
                                    <div class="main-dash-dynamic-workout-stats-title"> 
                                        <p> Add New Workout! </p>
                                    </div>
                                <% } %>
                                <a class="add-new-workout">+</a>
                                <p>Add New</p>
                            </div>

                        
                            <!-- Middle Area: hold workout info -->
                            <% if (trackedWorkouts.length) { %>
                                <!-- http://tabulator.info/ -->
                                <table id="workout-table">
                                    <tr>
                                        <th>Exercise</th>
                                        <th>Sets</th>
                                        <th>Weight</th>
                                        <th>Reps/Time</th>
                                        <th>Done</th>
                                    </tr>
                                    <% trackedWorkouts.forEach( exercise => { %>
                                        <tr>
                                            <td><%= exercise.exercise_name %></td>
                                            <td contenteditable='true'><%= exercise.sets %></td>
                                            <td contenteditable='true'><%= exercise.weight %></td>
                                            <td contenteditable='true'><%= exercise.reps %></td>
                                            <td><input class="done" type="checkbox"></td>
                                        </tr> 
                                    <% }) %>
                                </table>

                                <!-- Has stats about the workout you are currently doing -->
                                <div class="current-workout-stats">


                                </div>


                                <!-- Buttons at the bottom -->
                                <div class="my-workout-buttons">
                                    <!-- <a href="/dashboard/my-workouts/add-new-exercise">Add New Exercise</a> -->
                                    <a id="add-new-exercise">Add New Exercise</a>
                                    <a>Save Changes to Workout</a>
                                    <a>Complete Workout!</a>
                                </div>

                            <% } %>
                            <!-- Middle Area: hold workout info -->



                        </div>

                        <!-- [Right Side] Weekly Overview Bar -->
                        <div class="main-dash-dynamic-weekly-stats">

                        </div>

                    <% } %>

                </div>

            </div> <!-- Main Dashboard -->
            <!-- ************************************ -->






            <!-- ***** Gamification Box ***** -->
            <div class="game-bar">
                
                <div class="progression-box">
                    <p id="progression-box-text">Progression</p>
                </div>

                <div class="icon-box"></div>

                <div class="level-bar"></div>

                <div class="game-bar-profile-stats"></div>

            </div>
            <!-- **************************** -->

        </div>

        
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/dynamic/dashboard_views.js"></script>
    

</html>